{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
    {{ form(form) }}

    <div id="my_div_id">
        <h4>Tasks list</h4>
    </div>
{% endblock %}
